.logo {
  color: $accent-color;

  font-family: $secondary-font;
  font-size: 26px;
  line-height: 1.2;

  &__header {
    margin-right: 93px;
  }

  &--dark {
    color: $title-text-color;
  }

  &--light {
    color: $primary-white-color;
  }

  &__footer {
    display: inline-block;
    margin-bottom: 20px;
  }
}
